* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

div {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.envelop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
  position: relative;
}

.wax-seal {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 50%;
  background: transparent;
}

.wax-seal:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
